<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- facebook open graph tags -->
    <meta property="og:url" content="https://jakjestw.pl" />
    <meta property="og:title" content="Wskaźnik ubóstwa dla Polski" />
    <meta property="og:description" content="Wskaźnik ubóstwa mówi jak gospodarka wpływa na portfel przeciętnego człowieka." />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="JakJestW.PL" />

    <!-- twitter card tags additive with the og: tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" value="jakjestw.pl" />
    <meta name="twitter:title" value="Wskaźnik ubóstwa dla Polski" />
    <meta name="twitter:description" value="Wskaźnik ubóstwa mówi jak gospodarka wpływa na portfel przeciętnego człowieka." />
    <meta name="twitter:url" value="https://www.jakjestw.pl/" />
    <meta name="twitter:label1" value="Indeks w bieżącym miesiącu" />
    <meta name="twitter:data1" value="{{ current_misery_index }}" />
    <meta name="twitter:label2" value="Indeks w poprzednim miesiącu" />
    <meta name="twitter:data2" value="{{ previous_misery_index }}" />

    <title>Wskaźnik ubóstwa dla Polski</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script>
        $(document).ready(function() {
            $('#fullpage').fullpage({
                sectionsColor: ['#92a9b6', '#2d9175', '#9dd0e6', '#71b0bd'],
                anchors: ['indeks', 'kalkulacja', 'dane_historyczne', 'linki'],
                navigation: true,
                navigationPosition: 'right',
            });
        });
    </script>
    <style>
        a {
            color: #111111
        }

        ;
    </style>
</head>

<body>
    <div id="fullpage">
        <div class="section">
            <div class="container h-75">
                <div class="d-flex p-2 flex-column align-items-center h-100">
                    <p class="p-2 mt-auto font-weight-bold display-3">
                        {{ current_misery_index }}

                        {% if current_misery_index == previous_misery_index %} 
                        <span title="Indeks nie zmienił się w stosunku do ostatniego miesiąca.">&#8680;</span>
                        {% endif %}
                        {% if current_misery_index > previous_misery_index %}  
                        <span title="Indeks wzrósł w stosunku do ostatniego miesiąca.">&#8679;</span>
                        {% endif %}
                        {% if current_misery_index < previous_misery_index %} 
                        <span title="Indeks spadł w stosunku do ostatniego miesiąca.">&#8681;</span>
                        {% endif %}
                    </p>
                    <p class="p-2">
                        <b>Wskaźnik ubóstwa</b> mówi jak gospodarka wpływa na portfel przeciętnego człowieka. Im niższy, tym jest lepiej.
                    </p>
                    <p class="mt-auto p-0">Jak liczymy &#8595;</p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container h-75">
                <div class="d-flex p-2 flex-column align-items-center h-100">
                    <p class="p-2 mt-auto font-weight-bold display-4">
                        {{ current_inflation_rate }} + {{ current_unemployment_rate }}
                    </p>
                    <p class="p-2">Wskaźnik liczony jest poprzez dodanie <b>poziomu inflacji</b> złotówki do <b>stopy bezrobocia</b>.</p>
                    <p class="mt-auto p-0">Dane historyczne &#8595;</p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container h-75">
                <div class="d-flex p-2 flex-column align-items-center h-100">
                    <table class="table table-hover p-2 mt-auto">
                        <caption>Dane historyczne dot. inflacji, bezrobocia. Ostatnia aktualizacja: {{ current_date }}</caption>
                        <thead>
                            <tr>
                                <th scope="col">Rok</th>
                                <th scope="col">Wskaźnik ubóstwa</th>
                                <th scope="col">Bezrobocie</th>
                                <th scope="col">Inflacja</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">2018</th>
                                <td>6.9</td>
                                <td>5.8</td>
                                <td>1.1</td>
                            </tr>
                            <tr>
                                <th scope="row">2019</th>
                                <td>8.6</td>
                                <td>5.2</td>
                                <td>3.4</td>
                            </tr>
                            <tr>
                                <th scope="row">2020</th>
                                <td>8.7</td>
                                <td>6.3</td>
                                <td>2.4</td>
                            </tr>
                            <tr>
                                <th scope="row">2021</th>
                                <td>13.2</td>
                                <td>5.4</td>
                                <td>8.6</td>
                            </tr>
                            <tr>
                                <th scope="row">2022</th>
                                <td>{{ current_misery_index }}</td>
                                <td>{{ current_unemployment_rate }}</td>
                                <td>{{ current_inflation_rate }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="mt-auto p-0">
                        Źródła &#8595;
                    </p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container h-75">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <dl class="row">
                        <dt class="col-sm-2"><a href="https://pl.wikipedia.org/wiki/Inflacja">Inflacja</a></dt>
                        <dd class="col-sm-9">
                            Nadmierne zwiększanie podaży pieniądza poprzez jego emisję przez bank centralny lub kreację w bankach komercyjnych.
                        </dd>
                        <dt class="col-sm-2"><a href="https://pl.wikipedia.org/wiki/Bezrobocie">Bezrobocie</a></dt>
                        <dd class="col-sm-9">
                            Zjawisko społeczne polegające na tym, że część ludzi zdolnych do pracy i pragnących ją podjąć nie znajduje zatrudnienia.
                        </dd>
                        <dt class="col-sm-2"><a href="https://pl.wikipedia.org/wiki/Wska%C5%BAnik_ub%C3%B3stwa">Wskaźnik ubóstwa</a></dt>
                        <dd class="col-sm-9">
                            Wskaźnik ekonomiczny stworzony przez ekonomistę Arthura Okuna (stąd też alternatywna nazwa: ang. Okun’s Index).
                        </dd>
                        <dt class="col-sm-2"><a href="https://stat.gov.pl/">Główny Urząd Statystyczny</a></dt>
                        <dd class="col-sm-9">
                            Centralny organ administracji rządowej podległy Prezesowi Rady Ministrów zajmujący się zbieraniem i udostępnianiem informacji statystycznych na temat większości dziedzin życia publicznego i niektórych stron życia prywatnego.
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
